@charset "UTF-8";
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Light.eot");
  src: local("Circe Light"), local("Circe-Light"), url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraBold.eot");
  src: local("Circe Extra Bold"), local("Circe-ExtraBold"), url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Thin.eot");
  src: local("Circe Thin"), local("Circe-Thin"), url("../fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Thin.woff2") format("woff2"), url("../fonts/Circe-Thin.woff") format("woff"), url("../fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-LightItalic.eot");
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-HeavyItalic.eot");
  src: local("Lato Heavy Italic"), local("Lato-HeavyItalic"), url("../fonts/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-HeavyItalic.woff2") format("woff2"), url("../fonts/Lato-HeavyItalic.woff") format("woff"), url("../fonts/Lato-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-Hairline.eot");
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato-Hairline.woff") format("woff"), url("../fonts/Lato-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.eot");
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Heavy.eot");
  src: local("Lato Heavy"), local("Lato-Heavy"), url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-MediumItalic.eot");
  src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url("../fonts/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-MediumItalic.woff2") format("woff2"), url("../fonts/Lato-MediumItalic.woff") format("woff"), url("../fonts/Lato-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.eot");
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-HairlineItalic.eot");
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/Lato-HairlineItalic.woff") format("woff"), url("../fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-SemiboldItalic.eot");
  src: local("Lato Semibold Italic"), local("Lato-SemiboldItalic"), url("../fonts/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-SemiboldItalic.woff2") format("woff2"), url("../fonts/Lato-SemiboldItalic.woff") format("woff"), url("../fonts/Lato-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BlackItalic.eot");
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/Lato-BlackItalic.woff") format("woff"), url("../fonts/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.eot");
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-ThinItalic.eot");
  src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url("../fonts/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-ThinItalic.woff2") format("woff2"), url("../fonts/Lato-ThinItalic.woff") format("woff"), url("../fonts/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Thin.eot");
  src: local("Lato Thin"), local("Lato-Thin"), url("../fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Thin.woff2") format("woff2"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.eot");
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1160px;
  margin: auto;
}

.section-title {
  font-family: "Circe";
  color: #383535;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
}

.green {
  color: rgb(121, 173, 136);
}

.btn-modal {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 600;
  border-radius: 6px;
  border-style: solid;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-modal_mod1 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #24293d;
  font-size: 14px;
  padding: 15px 28px;
  border: 2px #c87573 solid;
}

.btn-modal_mod1:hover {
  background-color: #c87573;
  color: #fff;
}

.btn-modal_mod2 {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
}

.header__content-btn {
  position: relative;
}

.btn-modal_mod2:after {
  content: "";
  position: absolute;
  top: 0;
  border-radius: 11px;
  padding: 30px 50px;
  -webkit-box-shadow: 0px 28px 25px -20px rgba(210, 132, 131, 0.7);
          box-shadow: 0px 28px 25px -20px rgba(210, 132, 131, 0.7);
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(202, 120, 118)), to(rgb(213, 150, 147)));
  background-image: linear-gradient(90deg, rgb(202, 120, 118) 0%, rgb(213, 150, 147) 100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  z-index: 1;
  width: 200px;
  margin-top: -15px;
}

.btn-modal_mod2:before {
  content: "";
  top: 0;
  position: absolute;
  border-radius: 11px;
  padding: 30px 50px;
  -webkit-box-shadow: 0px 28px 25px -20px rgba(210, 132, 131, 0.7);
          box-shadow: 0px 28px 25px -20px rgba(210, 132, 131, 0.7);
  display: inline-block;
  background-image: linear-gradient(10deg, rgb(214, 86, 81) 0%, rgb(202, 120, 118) 100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  z-index: 1;
  width: 200px;
  margin-top: -15px;
}

.btn-modal_mod2:hover:after {
  opacity: 0;
}

.btn-modal_mod2-text {
  position: absolute;
  z-index: 5;
  width: 200px;
  text-align: center;
  margin-top: 6px;
}

.btn-modal_mod3 {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.prices__item-btn {
  position: relative;
  margin-top: -15px;
}

.prices__item-btn:after {
  content: "";
  position: absolute;
  top: 0;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(109, 154, 116)), to(rgb(166, 205, 172)));
  background-image: linear-gradient(90deg, rgb(109, 154, 116) 0%, rgb(166, 205, 172) 100%);
  -webkit-box-shadow: 0px 25px 20px -15px rgba(109, 154, 116, 0.7);
          box-shadow: 0px 25px 20px -15px rgba(109, 154, 116, 0.7);
  border-radius: 11px;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 25px 0;
  width: 280px;
  margin-top: -45px;
}

.prices__item-btn:before {
  content: "";
  position: absolute;
  top: 0;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(166, 205, 172)), to(rgb(109, 154, 116)));
  background-image: linear-gradient(90deg, rgb(166, 205, 172) 0%, rgb(109, 154, 116) 100%);
  border-radius: 11px;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 25px 0;
  width: 280px;
  margin-top: -45px;
}

.prices__item-btn:hover:after {
  opacity: 0;
}

.prices__item-btn:hover:before {
  -webkit-box-shadow: 0px 25px 20px -15px rgba(109, 154, 116, 0.7);
          box-shadow: 0px 25px 20px -15px rgba(109, 154, 116, 0.7);
}

/*
header
*/
.header {
  padding: 20px 0;
  background-color: #fcf8f4;
  height: 100%;
  background-image: url("img/header/bg/header_bg.svg");
  background-position: 50% 0%;
  background-size: cover;
}

.header-bg {
  position: relative;
}

.header-bg__elem {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.header-bg__1 {
  top: 82%;
  left: 54%;
}

.header-bg__2 {
  top: 38%;
  left: 44%;
}

.header-bg__3 {
  top: 80%;
  left: 21.85%;
}

.header-bg__4 {
  top: 35%;
  left: 5%;
}

.header-bg__5 {
  top: 55%;
  left: 81%;
}

.header-bg__6 {
  top: 15%;
  left: 79.5%;
}

.header__nav,
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-btn {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-btn__call-modal {
  margin-top: 15px;
}

.nav-btn__call {
  color: rgb(56, 55, 55);
  font-size: 16px;
  font-family: "Lato";
  font-weight: 700;
}

.nav-btn__btn-modal {
  margin-left: 10px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.span-zig {
  position: relative;
  padding-left: 50px;
  margin-top: 15px;
}

.span-zig::before {
  content: "";
  position: absolute;
  top: auto;
  left: auto;
  display: block;
  background: url("/img/header/all/zigzagline.svg") no-repeat;
  width: 80px;
  height: 10px;
  margin-left: -40px;
  margin-top: 7px;
}

.section-left__content-wrap-in {
  padding-left: 15px;
  width: 340px;
}

.section-left__content-text {
  color: #575f80;
  font-size: 17px;
  line-height: 26px;
  font-family: "Lato";
  font-weight: 500;
  margin-bottom: 20px;
}

.header__content-btn-text {
  color: #fff;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 600;
}

.header__content-right {
  max-height: 410px;
  z-index: 1;
}

.header__content-img {
  max-height: 520px;
  margin-top: -165px;
  z-index: 2;
}

.discount-left-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}

.discount-left {
  display: inline-block;
  padding: 20px 80px 20px 25px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 40px;
  border: 1px #fff solid;
  z-index: 1;
}

.discount-left p {
  width: 114px;
  color: #383535;
  font-size: 11px;
  font-family: "Lato";
  font-weight: 900;
  text-transform: uppercase;
  line-height: 17px;
}

.discount-right-wrap {
  margin-left: -75px;
  position: relative;
  z-index: 1;
}

.discount-right-wrap img {
  display: inline-block;
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotation;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.discount-right {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
  font-size: 33px;
  font-family: "Circe";
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 55px;
}

.discount-right sup {
  position: absolute;
  top: 2px;
  left: 37px;
  color: #ffffff;
  font-size: 17px;
  font-family: "Circe";
  font-weight: 600;
  line-height: 26px;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__item {
  z-index: 1;
  max-width: 210px;
  padding: 15px 25px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px rgba(255, 255, 255, 0.7) solid;
}

.header__item-title {
  margin: 6px 0 4px;
  color: #363b3e;
  font-size: 17px;
  font-family: "Lato";
  line-height: 26px;
  font-weight: 600;
}

.header__item-desc {
  color: #636772;
  font-size: 14px;
  font-family: "Lato";
  line-height: 18px;
  font-weight: 400;
}

/*
Prices
*/
.prices {
  background-color: #fcf8f4;
  padding: 10px 0 50px;
}

.prices__title {
  margin-bottom: 50px;
}

.prices__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prices__item {
  display: block;
  background-color: #fff;
  padding: 0 30px 35px;
  max-width: 33%;
  margin-bottom: 40px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 19px 20px 0px rgba(125, 120, 120, 0.1);
          box-shadow: 0px 19px 20px 0px rgba(125, 120, 120, 0.1);
}

.prices__item img {
  max-width: 300px;
}

.prices__item-wrap {
  margin-bottom: 55px;
}

.prices__item-title {
  color: #000000;
  font-size: 19px;
  margin-top: -10px;
  font-family: "Lato";
  font-weight: 800;
}

.prices__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7a7e83;
  font-size: 12px;
  font-family: "Lato";
  font-weight: 400;
  margin: 13px 0;
}

.prices__item-text::before {
  content: url("/img/price/all/size.svg");
  padding: 0 10px 0 0;
}

.prices__item-price {
  color: #79ad88;
  font-size: 19px;
  font-family: "Circe";
  font-weight: 600;
  -webkit-transition: all 5s all;
  transition: all 5s all;
}

.prices__item-price_grey {
  font-family: "Circe";
  font-size: 15px;
  font-weight: 500;
  text-decoration: line-through;
  color: #c3c6cf;
  margin-left: 5px;
}

.prices__item-btn-text {
  text-align: center;
  font-size: 15px;
  z-index: 5;
  position: absolute;
  width: 280px;
  top: -27px;
}

/*
specialOffer
*/
.specialOffer {
  padding: 65px 0 0;
}

.bg-img {
  position: relative;
  z-index: 1;
}

.specialOffer-bg__1 {
  position: absolute;
  right: 0;
  top: -20px;
}

.specialOffer-bg__2 {
  position: absolute;
  left: -100px;
  width: 70px;
  top: -90px;
}

.specialOffer-bg__3 {
  position: absolute;
  right: 450px;
  top: 20px;
  width: 120px;
}

.specialOffer-bg__4 {
  position: absolute;
  top: 150px;
  right: 470px;
}

.specialOffer-container {
  position: relative;
}

.specialOffer__content-left {
  width: 600px;
  position: absolute;
  padding-bottom: 90px;
  z-index: 5;
}

.specialOffer__content-title {
  text-align: start;
}

.specialOffer__content-wrap-in {
  width: 380px;
}

.specialOffer__sale {
  color: #5a5757;
  font-size: 19px;
  font-family: "LatoFont", Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.specialOffer__span {
  display: inline-block;
  padding: 20px 38px;
  text-align: center;
  background-repeat: no-repeat;
}

.specialOffer__span_green {
  background-image: url("/img/specialOffer/all/pricetag_green.svg");
  color: #fff;
  font-size: 20px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 700;
}

.specialOffer__span_grey {
  background-image: url("/img/specialOffer/all/pricetag_gray.svg");
  color: #7a6f6f;
  text-decoration: line-through;
  font-size: 20px;
  font-family: "Circe", Arial, sans-serif;
  font-weight: 500;
}

.specialOffer__content-right {
  position: absolute;
  z-index: 4;
}

.specialOffer__right-img1 {
  width: 850px;
  position: absolute;
  top: -220px;
  left: 430px;
}

.specialOffer__right-img2 {
  width: 200px;
  position: absolute;
  left: 865px;
  top: 75px;
}

/*
result
*/
.result {
  margin-top: 380px;
  padding: 70px 0;
  background-color: #fcf8f4;
}

.result__content-title {
  margin-bottom: 70px;
}

.result__content-title {
  margin-bottom: 70px;
}